[v-cloak] {
  display: none;
}
.nav{
  box-shadow: 0 2px 16px 0 rgba(220,220,220,.5);
}
.header{
  height: 72px;
}
.logo img{
  width: 92px;
  height: auto;
}

.left-nav{
  margin-left: 40px;
} 
.left-nav a {
  font-size: 16px;
  color: #000;
  margin-right: 18px;
}
.left-nav a:hover, .left-nav a.active{
  color: #FF1268;
}


.search{
  background: #F8F8F8;
  border-radius: 46px;
  width: 401px;
  border: 1px solid #ffffff;
  height: 46px;
}
.search.active{
  border: 1px solid #FF1268;
}
.search input{
  border: none;
  flex: 1;
  height: 100%;
  margin-left: 10px;
  box-sizing: border-box;
  font: 24px;
  outline: 0;
  background-color: #F8F8F8;
}
.search input::-webkit-input-placeholder {
  /* placeholder颜色 */
  color: #aab2bd;
  /* placeholder字体大小 */
  font-size: 16px;
}
.search-icon{
  margin-left: 10px;
}
.search-icon.iconfont{
  font-size: 28px;
}
.search-btn{
  background: #FF1268;
  color: #ffffff;
  font: 16px;
  letter-spacing: 5px;
  width: 86px;
  box-sizing: border-box;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  right: 0;
}
.right-nav{
  padding-left: 50px;
  font-size: 16px;
}

.right-nav .iconfont{
  font-size: 30px;
}
.right-nav span{
  margin: 0 20px 0 5px;
}
.right-nav span:hover{
  color: #FF1268;
}
.main{
  font-size: 14px;
}
.main-total{
  padding: 15px 0;
}

.content-left {
  flex: 1;
}
.content-right {
  width: 258px;
  padding: 0 10px
}
.content-left-top{
  padding: 0 24px;
  border: 1px solid #e9e9e9;
}
.city{
  padding: 10px 0;
  border-bottom: 1px solid #e9e9e9;
}
.city:last-child{
  border: none;
}
.city-title{
  width: 80px;
  text-align: right;
  color: #968788;
  padding: 2px 0 0 0;

}
.city-content{
  flex: 1;
  padding-left: 18px;
}
.city-content-top{
  color: #968788;
  margin-bottom: 10px;
}
.currentCity{
  display: inline-block;
  color: #ffffff;
  background: #FF1268;
  width: 44px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}
.city-content-bottom:nth-child(1){
  margin-top: 0px;
}
.city-content-bottom-right{
  margin-left: 5px;
}
.city-content-bottom-left-list{
  flex-wrap: wrap;
}
.city-content-bottom-left-list-item{
  height: 26px;
  /* width: 44px; */
  padding: 0 10px;
  margin-right: 28px;
}

.city-content-bottom-left-list-item:hover, .city-content-bottom-left-list-item.active{
  background: #FF1268;
  color: #ffffff;
}

.content-left-bottom{
  margin-top: 10px;
  border: 1px solid #968788;
}
.content-left-bottom-header{
   background: #f5f5f5;
   
}
.content-left-bottom-header-left{
  flex: 1;
}
.content-left-bottom-header-left .nav-item{
 padding: 0 24px;
 display: flex;
 align-items: center;
 color: #666666;
 border-left: 1px solid #eaeaea;
 border-right: 1px solid #eaeaea;
}
.content-left-bottom-header-left .nav-item.active{
  color: #FF1268;
  background: #ffffff; 
  border-left: none;
}
.content-left-bottom-header-right {
  width: 107px;
  height: 39px;
  border-left: 1px solid #eaeaea;
}

.content-left-bottom-content-list{
  padding: 5px 18px;
}

.content-left-bottom-content-item{
  padding: 10px;
}
.content-left-bottom-content-item img{
  width: 153px;
  height: auto;

}
.content-left-bottom-content-item-right{
  padding-left: 20px; 
  color: #999999;
  font-size: 14px;
  flex-direction: column;
  
}
.content-left-bottom-content-item-right div{
  margin-bottom: 10px;
}
.item-right-title{
  font-size: 16px;
  color: #333333;
}