<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue demo</title>
</head>

<body>
  <ul>
    <li>
      初始化工作
    </li>
    <li>
      执行beforeCreat函数（如果有）
    </li>
    <li>
      初始化data数据
    </li>
    <li>
      执行created函数（如果有），此时data已有数据
    </li>
    <li>
      判断是否传了el选项
    </li>
    <li>
      没有传就等待vm调用$mount()方法
    </li>
    <li>
      传了el 判断有没有传template函数
    </li>
    <li>
      没有传template就把el当成template通过render函数编译成虚拟dom树
    </li>
    <li>
      执行beforeMount 如果有
    </li>
    <li>
      将虚拟dom替换掉el中的内容
    </li>
    <li>
      执行mounted函数
    </li>
    <li>
      数据更新时，走beforeUpdate VDom 更新完之后 走updated
    </li>
    <li>
      组件切换或路由跳转。销毁vue实例走beforeDestroy
    </li>
    <li>
      解除事件绑定，销毁子组件
    </li>
    <li>
      执行destroyed函数
    </li>
  </ul>
  <div id="app">
    <div>
      <fieldset>
        <legend>
          添加文件
        </legend>
        <h1>
          {{nickname}} -- {{img}}
        </h1>
        <div>
          <!-- $event vue内置对象，代表当前的事件对象 -->
          图片<input type="text" v-model="img">
        </div>
        <div>
          名字 <input type="text" v-model="nickname">
        </div>
        <div>
          <button @click = "add">添加</button>
        </div>
      </fieldset>
    </div>
    <ul>
      <li v-for="(item, i) in arr">
        <!-- v-bind 缩写为: 里面东西就变为js，v-on缩写为@ -->
        <a :href="`detail?name=${item.name}`">{{item.name}}</a>
        <img :src="item.url" :style="{height:h, width: w}"  alt="">
        <button @click="del(i)">删除</button>
        {{item.id}}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.config.devtools = false
    Vue.config.productionTip = false
    let app = new Vue({
      el: '#app',
      // template: "<h1>22222</h1>",
      data() {
        return {
          img:'',
          nickname: '',
          h: '150px',
          w: '100px',
          nickname: '',
          arr: [
            {id: 0, name: 'aaa', url: 'https://imgkepu.gmw.cn/attachement/jpg/site2/20201204/f44d3075893d2133d7370b.jpg'},
            {id: 1, name: 'bbb', url: 'https://imgkepu.gmw.cn/attachement/jpg/site2/20201204/f44d3075893d2133d7370b.jpg'},
            {id: 2, name: 'ccc', url: 'https://imgkepu.gmw.cn/attachement/jpg/site2/20201204/f44d3075893d2133d7370b.jpg'},
          ]
        
        }
      },
      methods: {
        del (id) {
          console.log(id);
          this.arr.splice(id,1)
        },
        add () {
          this.arr.unshift({
            id: this.arr.length,
            name: this.nickname,
            url: this.img
          })
        }
      },
      beforeCreate() {
        console.log('-'.repeat(30));
        console.log(this.$data)
        console.log(this.$el);
        console.log('beforeCreate');
      },
      created() {
        console.log('-'.repeat(30));
        console.log(this.$data)
        console.log(this.$el);
        console.log('created');
        
      },
      beforeMount() {
        console.log('-'.repeat(30));
        console.log(this.$data)
        console.log(this.$el);
        console.log('beforeMount');
        
      },
      mounted() {
        console.log('-'.repeat(30));
        console.log(this.$data)
        console.log(this.$el);
        console.log('mounted');
        
      },
      beforeUpdate() {
        console.log('beforeUpdate');
        
      },
      updated() {
        console.log('updated');
        
      },
      beforeDestroy() {
        console.log('beforeDestroy');
        
      },
      destroyed() {
        console.log('destroyed');
        
      },
    })
    setTimeout(() => {
      app.$mount('#app')
    }, 2000);
    setTimeout(() => {
      app.$destroy()
    }, 4000);
  </script>
</body>

</html>